@charset "UTF-8";

h1 {
    text-shadow: 1px 2px 3px red;
}

.branco {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.caixa {
    background-color: white;
    width: 40%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}