@charset "UTF-8";

body {
    background-color: #ccc;
}

.vermelho {
    color: red;
}

.center {
    text-align: center;
}

.fonte-30 {
    font-size: 30px;
}

#teste {
    color: blue;
    background-color: yellow;
}